


 *{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.box{
    position: relative;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 30px 60px rgba(0,0,0 .2) ;

}
.box .percent {
position: relative;
width: 150px;
height: 150px;
}

.box .percent svg{
    position: relative;
width: 150px;
height: 150px;
}

.box .percent svg circle{
    width: 400px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 390;
    stroke-dashoffset: 440;
}

.box .percent svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke:beige;
}

.box .percent svg circle:nth-child(2){
    stroke-dashoffset: 0;
    stroke:mediumseagreen;
}

.box .percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box1{
    position: relative;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 30px 60px rgba(0,0,0 .2) ;

}
.box1 .percent {
position: relative;
width: 150px;
height: 150px;
}

.box1 .percent svg{
    position: relative;
width: 150px;
height: 150px;
}

.box1 .percent svg circle{
    width: 400px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 280;
    stroke-dashoffset: 390;
}

.box1 .percent svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke:beige;
}

.box1 .percent svg circle:nth-child(2){
    stroke-dashoffset: 0;
    stroke:cornflowerblue;
}

.box1 .percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
    position: relative;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 30px 60px rgba(0,0,0 .2) ;

}
.box2 .percent {
position: relative;
width: 150px;
height: 150px;
}

.box2 .percent svg{
    position: relative;
width: 150px;
height: 150px;
}

.box2 .percent svg circle{
    width: 400px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 250;
    stroke-dashoffset: 150;
}

.box2 .percent svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke:beige;
}

.box2 .percent svg circle:nth-child(2){
    stroke-dashoffset: 0;
    stroke:coral;
}

.box2 .percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



